  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;300;400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family:  'Poppins';
}

.ownerinfo {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}



.ownerinfo a {
  color: #b58b4b; 
  font-size: 2rem;
  text-decoration: none;
  
}
.owner-pic {
  width: 50px;
  height: auto;
  display: inline;
  transition: all ease;
}
.owner-pic:hover {
  transition: all 2s ease;
  transform: scale(1.4);
}


  .about-us {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0;
    font-size: 4rem;
    font-family: 'Cairo', sans-serif;
     @media screen and (max-width: 768px) {
      align-self: center;
     }
    li{
      a{
           text-decoration: none;
           color:#b58b4b;
      }
    }

  }
  .aboutusInfo {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fff;
    text-align: justify;
    margin-bottom: 1.5rem;
    @media (max-width: 768px) {
      font-size: 1.2rem;
      line-height: 1.6;
     
      
    }
  }

  .whyus {
     @media screen and (max-width: 768px) {
      margin-left: 0rem;
      
     }
  }

  .about-container {
    @media screen and (max-width: 415px) {
      width: 100%;
      font-size: auto;
    }
  }

  .hamburger {
    display: block;
    margin-top: 4.8rem;
    margin-right: 2rem;

    &:hover {
      color: #FF9900;
    }
    @media (max-width: 768px) {
    }
  }

  .hamburger-list {
    width: 5%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    font-size: 3rem;
    @media(max-width: 768px) {
       font-size: 2.5rem;
    }
    @media(max-width: 415px) {
       font-size: 2rem;
       width: 3%;
    }
  }

.hamburger-item {
  display: none; /* Hide all items by default */
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  transform: skewY(-30deg);
  width: 4rem;
  height: 15rem;
  font-family: 'Cairo', sans-serif;
  border-radius: 5px;
  background-color: #FF9900;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: #1c1c1c;
  cursor: pointer;
  font-weight: 700;
   &:hover {
    background-color: darken(#b58b4b, 10%); 
    transform: skewY(-10deg) scale(1.05);  
    color: #fff ;
    font-weight: 700;
  }
   @media(max-width: 415px) {
       width: auto;
    }
}

.hamburger-item.active {
  display: flex; /* Show only the active item */
}

  .more-info {
    @media (max-width: 768px) {
      i {
             font-size: .9rem;;

      }
      
    }
  }



  .form-container {
      width: 70%; 
      margin: 2rem auto;
      margin-top: 2rem;
      padding: 15rem 0 0 0;
      max-width: 700px;
      min-height: 90vh;
      border-radius: 12px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 3rem;

     @media screen and (max-width: 415px) {
        width: 80%;
        padding: 10rem 0 0 0;
        text-align: center;
        overflow-y: auto;
        h1 {
          font-size: 1.8rem;
        }
      }
  }


    form {

        label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: -.2rem;
        margin-top: .9rem;
        display: block;
        transition: all .3s;
        
    }
 
    input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
      input::placeholder, textarea::placeholder {
      color: #FDFDFD;
      }
      .form__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
          &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;

    }

  
      }
       @media screen and (max-width: 768px) {
         width: 100%;
         padding: 18rem 0rem 0 0rem;
      
    }
      @media screen and (max-width: 415px) {
         width: 100%;
         padding: 0;
      
    }
  
  }
    

  .registered-address {
      width: auto;
      height: auto;
      display: flex;
       justify-content: center;
       align-items: center;
       background: transparent;
  }